<h1 class="center">info</h1>

<body>
    <fieldset>
        <legend>Section Three</legend>
        <p>Suspendisse potenti. Integer vitae bibendum sem. Vivamus suscipit dui sit amet massa vestibulum, ut laoreet
            ex congue.</p>
        <p>Aenean quis lacus nec dui fermentum accumsan. Nam volutpat, ipsum vel venenatis tempor, dui mi sagittis odio,
            eu semper urna orci at libero.</p>
    </fieldset>

    <div class="section-container">
        <div class="section-item">
            <fieldset>
                <legend>Section One</legend>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dolor vel metus pulvinar vestibulum
                    vel in est.</p>
                <p>Nulla facilisi. In vitae sapien ac ex rhoncus varius. Fusce nec mi id ligula malesuada euismod.</p>
            </fieldset>
        </div>

        <div class="section-item">
            <fieldset>
                <legend>Section Two</legend>
                <p>Proin volutpat eu nisl ac euismod. Fusce pellentesque commodo lacus, vitae fermentum urna vulputate
                    et.</p>
                <p>Aliquam tempor risus eget nibh scelerisque, id posuere quam eleifend. In consectetur efficitur
                    lacus, ut feugiat purus venenatis at.</p>
            </fieldset>
        </div>

        <div class="section-item">
            <fieldset>
                <legend>Section Three</legend>
                <p>Suspendisse potenti. Integer vitae bibendum sem. Vivamus suscipit dui sit amet massa vestibulum, ut
                    laoreet ex congue.</p>
                <p>Aenean quis lacus nec dui fermentum accumsan..</p>
            </fieldset>
        </div>
    </div>

    <fieldset>
        <legend>Section One</legend>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, aliquid? Cumque,
            accusantium quaerat labore inventore laudantium animi quisquam voluptatum soluta c
            onsectetur deserun laborum provident, quod culpa eos adipisci reiciendis? Eos!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, aliquid? Cumque,
            accusantium quaerat labore inventore laudantium animi quisquam voluptatum soluta c</p>
    </fieldset>

    <fieldset>
        <legend>Section Two</legend>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, aliquid? Cumque,
            accusantium quaerat labore inventore laudantium animi quisquam voluptatum soluta c
            onsectetur deserun laborum provident, quod culpa eos adipisci reiciendis? Eos!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, aliquid? Cumque,
            accusantium quaerat labore inventore laudantium animi quisquam voluptatum soluta c</p>
    </fieldset>

    <fieldset>
        <legend>Section Three</legend>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, aliquid? Cumque,
            accusantium quaerat labore inventore laudantium animi quisquam voluptatum soluta c
            onsectetur deserun laborum provident, quod culpa eos adipisci reiciendis? Eos!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, aliquid? Cumque,
            accusantium quaerat labore inventore laudantium animi quisquam voluptatum soluta c</p>
    </fieldset>



</body>