<h1 class="center">info</h1>

<body>

    <fieldset>
        <legend>Section One</legend>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, aliquid? Cumque,
            accusantium quaerat labore inventore laudantium animi quisquam voluptatum soluta c
            onsectetur deserun laborum provident, quod culpa eos adipisci reiciendis? Eos!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, aliquid? Cumque,
            accusantium quaerat labore inventore laudantium animi quisquam voluptatum soluta c</p>
    </fieldset>

    <fieldset>
        <legend>Section Two</legend>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, aliquid? Cumque,
            accusantium quaerat labore inventore laudantium animi quisquam voluptatum soluta c
            onsectetur deserun laborum provident, quod culpa eos adipisci reiciendis? Eos!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, aliquid? Cumque,
            accusantium quaerat labore inventore laudantium animi quisquam voluptatum soluta c</p>
    </fieldset>

    <fieldset>
        <legend>Section Three</legend>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, aliquid? Cumque,
            accusantium quaerat labore inventore laudantium animi quisquam voluptatum soluta c
            onsectetur deserun laborum provident, quod culpa eos adipisci reiciendis? Eos!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, aliquid? Cumque,
            accusantium quaerat labore inventore laudantium animi quisquam voluptatum soluta c</p>
    </fieldset>

    <div class="infomation-container">
        <div class="section-item">
            <fieldset>
                <legend>Section One</legend>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dolor vel metus pulvinar vestibulum
                    vel in est.</p>
                <p>Nulla facilisi. In vitae sapien ac ex rhoncus varius. Fusce nec mi id ligula malesuada euismod.</p>
            </fieldset>
        </div>
        <div class="section-item">
            <fieldset>
                <legend>Section Two</legend>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dolor vel metus pulvinar vestibulum
                    vel in est.</p>
                <p>Nulla facilisi. In vitae sapien ac ex rhoncus varius. Fusce nec mi id ligula malesuada euismod.</p>
            </fieldset>
        </div>
        <div class="section-item">
            <fieldset>
                <legend>Section Three</legend>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dolor vel metus pulvinar vestibulum
                    vel in est.</p>
                <p>Nulla facilisi. In vitae sapien ac ex rhoncus varius. Fusce nec mi id ligula malesuada euismod.</p>
            </fieldset>
        </div>
    </div>

</body>