<h1>landscape</h1>

<h2>Modern</h2>

<fieldset>
    <legend>Section One</legend>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dolor vel metus pulvinar vestibulum
        vel in est.</p>
    <p>Nulla facilisi. In vitae sapien ac ex rhoncus varius. Fusce nec mi id ligula malesuada euismod.</p>
</fieldset>

<section class="landscape-contaner">
    <div class="landscape-card">
        <img src="/img/modern/modern_land-1.jpg" alt="">
        <h2>Title</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores explicabo magni minus.
            Delectus dolore corporis deserunt ratione facere ad cum asperiores, officia, tempora, beatae
            quisquam praesentium fugit eveniet explicabo reprehenderit!
        </p>
    </div>
    <div class="landscape-card">

        <img src="/img/modern/modern_land-2.jpg" alt="">
        <h2>Title</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores explicabo magni minus.
            Delectus dolore corporis deserunt ratione facere ad cum asperiores, officia, tempora, beatae
            quisquam praesentium fugit eveniet explicabo reprehenderit!
        </p>
    </div>
    <div class="landscape-card">

        <img src="/img/modern/modern_land-3.jpg" alt="">
        <h2>Title</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores explicabo magni minus.
            Delectus dolore corporis deserunt ratione facere ad cum asperiores, officia, tempora, beatae
            quisquam praesentium fugit eveniet explicabo reprehenderit!
        </p>
    </div>
    <div class="landscape-card">

        <img src="/img/modern/modern_land-4.jpg" alt="">
        <h2>Title</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores explicabo magni minus.
            Delectus dolore corporis deserunt ratione facere ad cum asperiores, officia, tempora, beatae
            quisquam praesentium fugit eveniet explicabo reprehenderit!
        </p>
    </div>
</section>

<h2>Rocky</h2>

<fieldset>
    <legend>Section Two</legend>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dolor vel metus pulvinar vestibulum
        vel in est.</p>
    <p>Nulla facilisi. In vitae sapien ac ex rhoncus varius. Fusce nec mi id ligula malesuada euismod.</p>
</fieldset>

<section class="landscape-contaner">
    <div class="landscape-card">
        <img src="/img/rocky/rock_garden-1.jpg" alt="">
        <h2>Title</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores explicabo magni minus.
            Delectus dolore corporis deserunt ratione facere ad cum asperiores, officia, tempora, beatae
            quisquam praesentium fugit eveniet explicabo reprehenderit!
        </p>
    </div>
    <div class="landscape-card">

        <img src="/img/rocky/rock_garden-2.jpg" alt="">
        <h2>Title</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores explicabo magni minus.
            Delectus dolore corporis deserunt ratione facere ad cum asperiores, officia, tempora, beatae
            quisquam praesentium fugit eveniet explicabo reprehenderit!
        </p>
    </div>
    <div class="landscape-card">

        <img src="/img/rocky/rock_garden-3.jpg" alt="">
        <h2>Title</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores explicabo magni minus.
            Delectus dolore corporis deserunt ratione facere ad cum asperiores, officia, tempora, beatae
            quisquam praesentium fugit eveniet explicabo reprehenderit!
        </p>
    </div>
    <div class="landscape-card">

        <img src="/img/rocky/rock_garden-4.jpg" alt="">
        <h2>Title</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores explicabo magni minus.
            Delectus dolore corporis deserunt ratione facere ad cum asperiores, officia, tempora, beatae
            quisquam praesentium fugit eveniet explicabo reprehenderit!
        </p>
    </div>
</section>

<h2>Simple</h2>

<fieldset>
    <legend>Section Three</legend>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dolor vel metus pulvinar vestibulum
        vel in est.</p>
    <p>Nulla facilisi. In vitae sapien ac ex rhoncus varius. Fusce nec mi id ligula malesuada euismod.</p>
</fieldset>

<section class="landscape-contaner">
    <div class="landscape-card">
        <img src="/img/simple/simple_land-1.jpg" alt="">
        <h2>Title</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores explicabo magni minus.
            Delectus dolore corporis deserunt ratione facere ad cum asperiores, officia, tempora, beatae
            quisquam praesentium fugit eveniet explicabo reprehenderit!
        </p>
    </div>
    <div class="landscape-card">

        <img src="/img/simple/simple_land-2.jpg" alt="">
        <h2>Title</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores explicabo magni minus.
            Delectus dolore corporis deserunt ratione facere ad cum asperiores, officia, tempora, beatae
            quisquam praesentium fugit eveniet explicabo reprehenderit!
        </p>
    </div>
    <div class="landscape-card">

        <img src="/img/simple/simple_land-3.jpg" alt="">
        <h2>Title</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores explicabo magni minus.
            Delectus dolore corporis deserunt ratione facere ad cum asperiores, officia, tempora, beatae
            quisquam praesentium fugit eveniet explicabo reprehenderit!
        </p>
    </div>
    <div class="landscape-card">

        <img src="/img/simple/simple_land-4.jpg" alt="">
        <h2>Title</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores explicabo magni minus.
            Delectus dolore corporis deserunt ratione facere ad cum asperiores, officia, tempora, beatae
            quisquam praesentium fugit eveniet explicabo reprehenderit!
        </p>
    </div>
</section>

<h2>Tropical</h2>

<fieldset>
    <legend>Section Four</legend>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dolor vel metus pulvinar vestibulum
        vel in est.</p>
    <p>Nulla facilisi. In vitae sapien ac ex rhoncus varius. Fusce nec mi id ligula malesuada euismod.</p>
</fieldset>

<section class="landscape-contaner">
    <div class="landscape-card">
        <img src="/img/tropical/tropical_1.jpg" alt="">
        <h2>Title</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores explicabo magni minus.
            Delectus dolore corporis deserunt ratione facere ad cum asperiores, officia, tempora, beatae
            quisquam praesentium fugit eveniet explicabo reprehenderit!
        </p>
    </div>
    <div class="landscape-card">

        <img src="/img/tropical/tropical_2.jpg" alt="">
        <h2>Title</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores explicabo magni minus.
            Delectus dolore corporis deserunt ratione facere ad cum asperiores, officia, tempora, beatae
            quisquam praesentium fugit eveniet explicabo reprehenderit!
        </p>
    </div>
    <div class="landscape-card">

        <img src="/img/tropical/tropical_3.jpg" alt="">
        <h2>Title</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores explicabo magni minus.
            Delectus dolore corporis deserunt ratione facere ad cum asperiores, officia, tempora, beatae
            quisquam praesentium fugit eveniet explicabo reprehenderit!
        </p>
    </div>
    <div class="landscape-card">

        <img src="/img/tropical/tropical_4.jpg" alt="">
        <h2>Title</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores explicabo magni minus.
            Delectus dolore corporis deserunt ratione facere ad cum asperiores, officia, tempora, beatae
            quisquam praesentium fugit eveniet explicabo reprehenderit!
        </p>
    </div>
</section>