<h1 class="center">landscape</h1>

<h2 class="Landscaping-Title">Modern</h2>
<section class="Team-container">
    <div class="Team-card ">
        <div class="Team-image modern-1"></div>
        <h2> modern-1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ratione debitis optio consequatur ea ad
            accusantium quisquam dicta, ducimus molestiae ipsa alias distinctio, amet exercitationem natus iusto,
        </p>


    </div>
    <div class="Team-card ">
        <div class="Team-image modern-2"></div>
        <h2> modern-1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ratione debitis optio consequatur ea ad
            accusantium quisquam dicta, ducimus molestiae ipsa alias distinctio, amet exercitationem natus iusto,
            .</p>

    </div>
    <div class="Team-card">
        <div class="Team-image modern-3">
        </div>
        <h2> modern-1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium consectetur officia animi minus,
            deleniti quod, error consequatur fuga sit quis, mollitia culpa molestias a nulla non inventore quasi
            .</p>

    </div>

    <div class="Team-card">
        <div class="Team-image modern-4">
        </div>
        <h2> modern-1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quibusdam numquam maxime distinctio amet
            harum, ut quisquam minima ducimus, laboriosam quas fugit? Ipsa minima illum, itaque cumque temporibus
        </p>

    </div>
</section>

<fieldset>
    <legend>Section Three</legend>
    <p>Suspendisse potenti. Integer vitae bibendum sem. Vivamus suscipit dui sit amet massa vestibulum, ut laoreet
        ex congue.</p>
    <p>Aenean quis lacus nec dui fermentum accumsan. Nam volutpat, ipsum vel venenatis tempor, dui mi sagittis odio,
        eu semper urna orci at libero.</p>
</fieldset>

<div class="section-container">
    <div class="section-item">
        <fieldset>
            <legend>Section One</legend>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dolor vel metus pulvinar vestibulum
                vel in est.</p>
            <p>Nulla facilisi. In vitae sapien ac ex rhoncus varius. Fusce nec mi id ligula malesuada euismod.</p>
        </fieldset>
    </div>

    <div class="section-item">
        <fieldset>
            <legend>Section Two</legend>
            <p>Proin volutpat eu nisl ac euismod. Fusce pellentesque commodo lacus, vitae fermentum urna vulputate
                et.</p>
            <p>Aliquam tempor risus eget nibh scelerisque, id posuere quam eleifend. In consectetur efficitur
                lacus, ut feugiat purus venenatis at.</p>
        </fieldset>
    </div>

    <div class="section-item">
        <fieldset>
            <legend>Section Three</legend>
            <p>Suspendisse potenti. Integer vitae bibendum sem. Vivamus suscipit dui sit amet massa vestibulum, ut
                laoreet ex congue.</p>
            <p>Aenean quis lacus nec dui fermentum accumsan..</p>
        </fieldset>
    </div>
</div>







<h2 class="Landscaping-Title">Rocky</h2>
<section class="Team-container">
    <div class="Team-card ">
        <div class="Team-image rocky-1"></div>
        <h2>rocky</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ratione debitis optio consequatur ea ad
            accusantium quisquam dicta, ducimus molestiae ipsa alias distinctio, amet exercitationem natus iusto,
        </p>


    </div>
    <div class="Team-card ">
        <div class="Team-image rocky-2"></div>
        <h2>simple</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ratione debitis optio consequatur ea ad
            accusantium quisquam dicta, ducimus molestiae ipsa alias distinctio, amet exercitationem natus iusto,
            .</p>

    </div>
    <div class="Team-card">
        <div class="Team-image rocky-3">
        </div>
        <h2>tropical </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium consectetur officia animi minus,
            deleniti quod, error consequatur fuga sit quis, mollitia culpa molestias a nulla non inventore quasi
            .</p>

    </div>

    <div class="Team-card">
        <div class="Team-image rocky-4">
        </div>
        <h2>modern </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quibusdam numquam maxime distinctio amet
            harum, ut quisquam minima ducimus, laboriosam quas fugit? Ipsa minima illum, itaque cumque temporibus
        </p>

    </div>
</section>




<fieldset>
    <legend>Section Three</legend>
    <p>Suspendisse potenti. Integer vitae bibendum sem. Vivamus suscipit dui sit amet massa vestibulum, ut laoreet
        ex congue.</p>
    <p>Aenean quis lacus nec dui fermentum accumsan. Nam volutpat, ipsum vel venenatis tempor, dui mi sagittis odio,
        eu semper urna orci at libero.</p>
</fieldset>

<div class="section-container">
    <div class="section-item">
        <fieldset>
            <legend>Section One</legend>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dolor vel metus pulvinar vestibulum
                vel in est.</p>
            <p>Nulla facilisi. In vitae sapien ac ex rhoncus varius. Fusce nec mi id ligula malesuada euismod.</p>
        </fieldset>
    </div>

    <div class="section-item">
        <fieldset>
            <legend>Section Two</legend>
            <p>Proin volutpat eu nisl ac euismod. Fusce pellentesque commodo lacus, vitae fermentum urna vulputate
                et.</p>
            <p>Aliquam tempor risus eget nibh scelerisque, id posuere quam eleifend. In consectetur efficitur
                lacus, ut feugiat purus venenatis at.</p>
        </fieldset>
    </div>

    <div class="section-item">
        <fieldset>
            <legend>Section Three</legend>
            <p>Suspendisse potenti. Integer vitae bibendum sem. Vivamus suscipit dui sit amet massa vestibulum, ut
                laoreet ex congue.</p>
            <p>Aenean quis lacus nec dui fermentum accumsan..</p>
        </fieldset>
    </div>
</div>



<h2 class="Landscaping-Title">Simple</h2>
<section class="Team-container">
    <div class="Team-card ">
        <div class="Team-image simple-1"></div>
        <h2>rocky</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ratione debitis optio consequatur ea ad
            accusantium quisquam dicta, ducimus molestiae ipsa alias distinctio, amet exercitationem natus iusto,
        </p>


    </div>
    <div class="Team-card ">
        <div class="Team-image simple-2"></div>
        <h2>simple</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ratione debitis optio consequatur ea ad
            accusantium quisquam dicta, ducimus molestiae ipsa alias distinctio, amet exercitationem natus iusto,
            .</p>

    </div>
    <div class="Team-card">
        <div class="Team-image simple-3">
        </div>
        <h2>tropical </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium consectetur officia animi minus,
            deleniti quod, error consequatur fuga sit quis, mollitia culpa molestias a nulla non inventore quasi
            .</p>

    </div>

    <div class="Team-card">
        <div class="Team-image simple-4">
        </div>
        <h2>modern </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quibusdam numquam maxime distinctio amet
            harum, ut quisquam minima ducimus, laboriosam quas fugit? Ipsa minima illum, itaque cumque temporibus
        </p>

    </div>
</section>

<fieldset>
    <legend>Section Three</legend>
    <p>Suspendisse potenti. Integer vitae bibendum sem. Vivamus suscipit dui sit amet massa vestibulum, ut laoreet
        ex congue.</p>
    <p>Aenean quis lacus nec dui fermentum accumsan. Nam volutpat, ipsum vel venenatis tempor, dui mi sagittis odio,
        eu semper urna orci at libero.</p>
</fieldset>

<div class="section-container">
    <div class="section-item">
        <fieldset>
            <legend>Section One</legend>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dolor vel metus pulvinar vestibulum
                vel in est.</p>
            <p>Nulla facilisi. In vitae sapien ac ex rhoncus varius. Fusce nec mi id ligula malesuada euismod.</p>
        </fieldset>
    </div>

    <div class="section-item">
        <fieldset>
            <legend>Section Two</legend>
            <p>Proin volutpat eu nisl ac euismod. Fusce pellentesque commodo lacus, vitae fermentum urna vulputate
                et.</p>
            <p>Aliquam tempor risus eget nibh scelerisque, id posuere quam eleifend. In consectetur efficitur
                lacus, ut feugiat purus venenatis at.</p>
        </fieldset>
    </div>

    <div class="section-item">
        <fieldset>
            <legend>Section Three</legend>
            <p>Suspendisse potenti. Integer vitae bibendum sem. Vivamus suscipit dui sit amet massa vestibulum, ut
                laoreet ex congue.</p>
            <p>Aenean quis lacus nec dui fermentum accumsan..</p>
        </fieldset>
    </div>
</div>


<h2 class="Landscaping-Title">Simple</h2>
<section class="Team-container">
    <div class="Team-card ">
        <div class="Team-image simple-1"></div>
        <h2>rocky</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ratione debitis optio consequatur ea ad
            accusantium quisquam dicta, ducimus molestiae ipsa alias distinctio, amet exercitationem natus iusto,
        </p>


    </div>
    <div class="Team-card ">
        <div class="Team-image simple-2"></div>
        <h2>simple</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ratione debitis optio consequatur ea ad
            accusantium quisquam dicta, ducimus molestiae ipsa alias distinctio, amet exercitationem natus iusto,
            .</p>

    </div>
    <div class="Team-card">
        <div class="Team-image simple-3">
        </div>
        <h2>tropical </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium consectetur officia animi minus,
            deleniti quod, error consequatur fuga sit quis, mollitia culpa molestias a nulla non inventore quasi
            .</p>

    </div>

    <div class="Team-card">
        <div class="Team-image simple-4">
        </div>
        <h2>modern </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quibusdam numquam maxime distinctio amet
            harum, ut quisquam minima ducimus, laboriosam quas fugit? Ipsa minima illum, itaque cumque temporibus
        </p>

    </div>
</section>

<fieldset>
    <legend>Section Three</legend>
    <p>Suspendisse potenti. Integer vitae bibendum sem. Vivamus suscipit dui sit amet massa vestibulum, ut laoreet
        ex congue.</p>
    <p>Aenean quis lacus nec dui fermentum accumsan. Nam volutpat, ipsum vel venenatis tempor, dui mi sagittis odio,
        eu semper urna orci at libero.</p>
</fieldset>

<div class="section-container">
    <div class="section-item">
        <fieldset>
            <legend>Section One</legend>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dolor vel metus pulvinar vestibulum
                vel in est.</p>
            <p>Nulla facilisi. In vitae sapien ac ex rhoncus varius. Fusce nec mi id ligula malesuada euismod.</p>
        </fieldset>
    </div>

    <div class="section-item">
        <fieldset>
            <legend>Section Two</legend>
            <p>Proin volutpat eu nisl ac euismod. Fusce pellentesque commodo lacus, vitae fermentum urna vulputate
                et.</p>
            <p>Aliquam tempor risus eget nibh scelerisque, id posuere quam eleifend. In consectetur efficitur
                lacus, ut feugiat purus venenatis at.</p>
        </fieldset>
    </div>

    <div class="section-item">
        <fieldset>
            <legend>Section Three</legend>
            <p>Suspendisse potenti. Integer vitae bibendum sem. Vivamus suscipit dui sit amet massa vestibulum, ut
                laoreet ex congue.</p>
            <p>Aenean quis lacus nec dui fermentum accumsan..</p>
        </fieldset>
    </div>
</div>

<fieldset>
    <legend>Section One</legend>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac dolor vel metus pulvinar vestibulum
        vel in est.</p>
    <p>Nulla facilisi. In vitae sapien ac ex rhoncus varius. Fusce nec mi id ligula malesuada euismod.</p>
</fieldset>