<div class="center">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div>curent order</div>

<div id="paymentCart"></div>

<div>previous orders</div>

<div id="previousOrders"></div>


<h1>
    which team do you want to work with
</h1>

<section class="Team-container">
    <div class="Team-card ">
        <div class="Team-image team-1"></div>
        <h2>rocky</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ratione debitis optio consequatur ea ad
            accusantium quisquam dicta, ducimus molestiae ipsa alias distinctio, amet exercitationem natus iusto,
        </p>
        <button><a href="/rocky">select</a></button>


    </div>
    <div class="Team-card ">
        <div class="Team-image team-2"></div>
        <h2>simple</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ratione debitis optio consequatur ea ad
            accusantium quisquam dicta, ducimus molestiae ipsa alias distinctio, amet exercitationem natus iusto,
            .</p>
        <button><a href="/simple">select</a></button>

    </div>
    <div class="Team-card">
        <div class="Team-image team-3">
        </div>
        <h2>tropical </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium consectetur officia animi minus,
            deleniti quod, error consequatur fuga sit quis, mollitia culpa molestias a nulla non inventore quasi
            .</p>
        <button><a href="/tropical">select</a></button>

    </div>

    <div class="Team-card">
        <div class="Team-image team-4">
        </div>
        <h2>modern </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quibusdam numquam maxime distinctio amet
            harum, ut quisquam minima ducimus, laboriosam quas fugit? Ipsa minima illum, itaque cumque temporibus
        </p>
        <button><a href="/modern">select</a></button>

    </div>
</section>