<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div>

    <div id="orderdetails"></div>
    <h1>
        which team do you want to work with
    </h1>

    <div class="team-select">
        <img src="/img/team/team-1.jpg" alt="">
        <h2>title</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ipsa, quod, sit mollitia architecto expedita eos odio voluptates
            accusantium, praesentium explicabo et sequi ducimus id molestias error.
            Quasi a eligendi reiciendis.</p>
        <button><a href="/tropical">select</a></button>
    </div>
    <div class="team-select">
        <img src="/img/team/team-2.jpg" alt="">
        <h2>title</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ipsa, quod, sit mollitia architecto expedita eos odio voluptates
            accusantium, praesentium explicabo et sequi ducimus id molestias error.
            Quasi a eligendi reiciendis.</p>
        <button><a href="/modern">select</a></button>
    </div>
    <div class="team-select">
        <img src="/img/team/team-3.jpg" alt="">
        <h2>title</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ipsa, quod, sit mollitia architecto expedita eos odio voluptates
            accusantium, praesentium explicabo et sequi ducimus id molestias error.
            Quasi a eligendi reiciendis.</p>
        <button><a href="/simple">select</a></button>
    </div>
    <div class="team-select">
        <img src="/img/team/team-4.jpg" alt="">
        <h2>title</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ipsa, quod, sit mollitia architecto expedita eos odio voluptates
            accusantium, praesentium explicabo et sequi ducimus id molestias error.
            Quasi a eligendi reiciendis.</p>
        <button><a href="/rocky">select</a></button>
    </div>




</div>