<h1>rocky</h1>

<body class="cart">
    <div class="icon-cart" id="icon-cart">
        <i class="ri-menu-line nav__burger"></i>
    </div>

    <div class="styles-container" id="rocky"></div>

    <div class="cartTab">
        <h1>Shopping Cart</h1>
        <div class="listCart" id="cartModal">
            <div class="listCart">
                <ul id="cartItems">

                </ul>
            </div>
        </div>
        <div class="btn2">
            <button class="close">Close</button>
            <button class="checkOut"><a href="/checkout">Checkout</a></button>
        </div>
    </div>

    <script src="/js/rocky.js"></script>


</body>