<h1 class="center">Check our Services</h1>

<section class="service-container">
    <div class="service-card">
        <img src="/img/portfolio/portfolio-1.jpg" alt="">
        <h2>title</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ipsa, quod, sit mollitia architecto expedita eos odio voluptates
            accusantium, praesentium explicabo et sequi ducimus id molestias error.
            Quasi a eligendi reiciendis.</p>
    </div>
    <div class="service-card">
        <img src="/img/portfolio/portfolio-2.jpg" alt="">
        <h2>title</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ipsa, quod, sit mollitia architecto expedita eos odio voluptates
            accusantium, praesentium explicabo et sequi ducimus id molestias error.
            Quasi a eligendi reiciendis.</p>
    </div>
    <div class="service-card">
        <img src="/img/portfolio/portfolio-3.jpg" alt="">
        <h2>title</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ipsa, quod, sit mollitia architecto expedita eos odio voluptates
            accusantium, praesentium explicabo et sequi ducimus id molestias error.
            Quasi a eligendi reiciendis.</p>
    </div>
    <div class="service-card">
        <img src="/img/portfolio/portfolio-4.jpg" alt="">
        <h2>title</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ipsa, quod, sit mollitia architecto expedita eos odio voluptates
            accusantium, praesentium explicabo et sequi ducimus id molestias error.
            Quasi a eligendi reiciendis.</p>
    </div>
</section>

<section>
    <div class="call-to-action">
        <h3>Call to Action</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil iste officia d
            ebitis a! Voluptatibus, dolo
            ribus commodi quibusdam impedit ipsum cum earum. Voluptas quos, disti
            nctio numquam incidunt eaque recusanda
            e ea doloribus!</p>
        <a href="/contact" class="CTA-btn">Call To Action</a>

    </div>
</section>