<h1>teams</h1>

<section class="service-container">
    <div class="service-card">
        <img src="/img/team/team-1.jpg" alt="">
        <h2>Modern</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ipsa, quod, sit mollitia architecto expedita eos odio voluptates
            accusantium, praesentium explicabo et sequi ducimus id molestias error.
            Quasi a eligendi reiciendis.</p>
        <ul>
            <li>sit mollitia architecto expedita</li>
            <li>sit mollitia architecto expedita</li>
            <li>sit mollitia architecto expedita</li>
        </ul>
    </div>
    <div class="service-card">
        <img src="/img/team/team-2.jpg" alt="">
        <h2>rocky</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ipsa, quod, sit mollitia architecto expedita eos odio voluptates
            accusantium, praesentium explicabo et sequi ducimus id molestias error.
            Quasi a eligendi reiciendis.</p>
        <ul>
            <li>sit mollitia architecto expedita</li>
            <li>sit mollitia architecto expedita</li>
            <li>sit mollitia architecto expedita</li>
        </ul>
    </div>
    <div class="service-card">
        <img src="/img/team/team-3.jpg" alt="">
        <h2>Simple</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ipsa, quod, sit mollitia architecto expedita eos odio voluptates
            accusantium, praesentium explicabo et sequi ducimus id molestias error.
            Quasi a eligendi reiciendis.</p>
        <ul>
            <li>sit mollitia architecto expedita</li>
            <li>sit mollitia architecto expedita</li>
            <li>sit mollitia architecto expedita</li>
        </ul>
    </div>
    <div class="service-card">
        <img src="/img/team/team-4.jpg" alt="">
        <h2>Tropical</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Ipsa, quod, sit mollitia architecto expedita eos odio voluptates
            accusantium, praesentium explicabo et sequi ducimus id molestias error.
            Quasi a eligendi reiciendis.</p>
        <ul>
            <li>sit mollitia architecto expedita</li>
            <li>sit mollitia architecto expedita</li>
            <li>sit mollitia architecto expedita</li>
        </ul>


    </div>
</section>