<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Responsive dropdown menu - Bedimcode</title>
</head>

<body>

    <header class="header">
        <nav class="nav container">



            {{#if logged_in}}
            <div class="nav__data">
                <a href="/" class="nav__logo">
                    <i class="ri-planet-line"></i> Company
                </a>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line nav__burger"></i>
                    <i class="ri-close-line nav__close"></i>
                </div>
            </div>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li><a href="/" class="nav__link">Home</a></li>


                    <li class="dropdown__item">
                        <div class="nav__link">
                            Overview <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="/rocky" class="dropdown__link">
                                    <i class="ri-landscape-line"></i> Rocky
                                </a>
                            </li>

                            <li>
                                <a href="/tropical" class="dropdown__link">
                                    <i class="ri-plant-line"></i>Tropical
                                </a>
                            </li>

                            <li>
                                <a href="/modern" class="dropdown__link">
                                    <i class="ri-home-3-fill"></i> Modern
                                </a>
                            </li>

                            <li>
                                <a href="/simple" class="dropdown__link">
                                    <i class="ri-leaf-fill"></i>Simple
                                </a>
                            </li>




                        </ul>

                    <li><a href="/checkout" class="nav__link">Checkout</a></li>
                    <li><a href="/profile" class="nav__link">Profile</a></li>
                    <li><a class="nav__link" id="logout">Logout</a></li>
                    {{else}}
                    <div class="nav__data">
                        <a href="/" class="nav__logo">
                            <i class="ri-planet-line"></i> Company
                        </a>

                        <div class="nav__toggle" id="nav-toggle">
                            <i class="ri-menu-line nav__burger"></i>
                            <i class="ri-close-line nav__close"></i>
                        </div>
                    </div>
                    <div class="nav__menu" id="nav-menu">
                        <ul class="nav__list">
                            <li><a href="/" class="nav__link">Home</a></li>




                            <li class="dropdown__item">
                                <div class="nav__link">
                                    Overview <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                                </div>

                                <ul class="dropdown__menu">
                                    <li>
                                        <a href="/services" class="dropdown__link">
                                            <i class="fa fa-folder-open" aria-hidden="true"></i> Services

                                        </a>
                                    </li>

                                    <li>
                                        <a href="/info" class="dropdown__link">
                                            <i class="ri-building-line"></i>Information
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/teams" class="dropdown__link">
                                            <i class="ri-team-fill"></i>Teams


                                        </a>
                                    </li>

                                    <li>
                                        <a href="/landscape" class="dropdown__link">
                                            <i class="ri-landscape-fill"></i> Landscaping
                                        </a>
                                    </li>


                                </ul>
                            </li>




                            <a href="/contact" class="nav__link">Contact</a>
                            <a href="/login" class="nav__link">Login</a>
                        </ul>


                        {{/if}}
                    </div>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>


    {{#if logged_in}}

    <script src="/js/logout.js"></script>

    <script src="/js/profile.js"></script>
    <script src="/payment.js"></script>
    <script src="/paymentfinish"></script>


    {{/if}}

    <script src="/js/main.js"></script>
</body>

</html>